<%- include('./partials/header') %>
<body>
    <h1>Welcome to your classroom!</h1>

    <wrapper>
    <% for(let i = 0; i < students.length; i++){%>
   <p><a href="/home/<%= students[i]._id %>"><%= students[i].name + " " + students[i].lastName%></a> </p>

    <form action="/edit/<%= students[i]._id %>?_method=PUT" method="POST">
        <input type="submit" value="Edit" />
    </form>

    <form action="/home/<%= students[i]._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Remove" />
    </form>
   <% } %>
</wrapper>

</body>
</html>

<%- include('./partials/footer') %>
