<%- include('./partials/header') %>
<body>
    <h1>Welcome to the home page!</h1>
    <ul class="right">
        <li>
        <% if (teacher !== undefined) { %>
            <a href="/logout"><i class="material-icons left"></i>Log Out</a>
        <% } else { %>
            <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
        <% } %>
        </li>

    </ul>
    
    <% for(let i = 0; i < students.length; i++){%>
   <p><a href="/home/<%= students[i]._id %>"><%= students[i].name + " " + students[i].lastName%></a> </p>

    <form action="/edit/<%= students[i]._id %>?_method=PUT" method="POST">
        <input type="submit" value="Edit" />
    </form>

    <form action="/home/<%= students[i]._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Remove" />
    </form>
   <% } %>
</body>
</html>

<%- include('./partials/footer') %>
