
  <div>First: </div>
  <div><%= student.lastName %></div>
  <div><%= student.birthdate %></div>
  <div><%= student.streetAddress %></div>
  <div><%= student.city %></div>
  <div><%= student.state %></div>
  <div><%= student.zipCode %></div>
  <div><%= student.parentInfo %></div>
